<?xml version="1.0" encoding="UTF-8"?>
<device>
   <configSource>
      <beanGroups>
         <beanGroup>
            <!-- IoT agent settings -->
            <bean path="app:tccc.iot.agent:service:X509Connector">
               <property name="autoEnrollmentWithoutManualUserAction" value="on"/>
               <property name="backoffConfig.baseDelayMs" value="1000"/>
               <property name="backoffConfig.maxCount" value="8"/>
               <property name="backoffConfig.maxDelayMs" value="3600000"/>
               <property name="backoffConfig.unitDelayMs" value="1000"/>
               <property name="backoffConfig.unitMultiplier" value="3"/>
               <property name="backoffConfig.type" value="EXPONENTIAL"/>
            </bean>
         </beanGroup>
      </beanGroups>
   </configSource>
</device>
